@using MaxsGornTest.Models
@Model Sound
@{
    ViewData["Title"] = "Error";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Audio Recorder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Css/css.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>

<body>
  
    <main>
        <form method="post" action="/Home/AddSound">
            <div class="col-sm-12" id="MainMenu">
                <header class="col-sm-12">Audio Recorder</header>
                <img class="microphone" width="500" height="500" src="https://i.ibb.co/dk2jmbq/microphone.gif">
                <div>
                    <div id="timer"></div>
                    <div id="date"></div>
                    <div class="buttons">
                        <div class="flex-container">
                            <div class="flex-item">
                                <div class="btn-record" id="recordButton" disabled>
                                    <div class="icn-record">
                                        <img class="icon-play" src="https://i.ibb.co/HG19xtb/play.png" alt="play"/>">
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div class="btn-save" id="stopButton" disabled>
                                    <img class="icon-play" src="https://i.ibb.co/S70vQ6h/stop-button-vector-608102.png">
                                </div>
                            </div>
                            <div class="flex-item">
                                <div id="value_url" name="fileNameUrl" disabled>
                                    <img class="icon-play" src="https://i.ibb.co/sgqbJyC/apps-55915-13510798886781661-19a5e972-ada5-473b-ab47-3472af85f4da.png">
                                </div>
                            </div>
                        </div>
                        <p>
                            <input type="submit" value="AddSound" />
                        </p>
                        <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
                    </div>
                </div>
                <script src="~/Js/main.js"></script>
                <script src="~/Js/lib.js"></script>

        </form>
    </main>

</body>

</html>

