body {
    margin: 0;
    padding: 10px 5%;
    padding-top: 25px;
    font-family: sans-serif;
    text-align: center;
}

header {
    padding-top: 20px;
    font-family: "impact";
    font-size: 46px;
    color: aliceblue;
}
.MainMenu {
    width: 100%;
    height: 100%;
}
footer {
    text-align: center;
    color: black;
    font-family: 'impact';
    font-size: 25px;
    padding: 10px 50px;
    color: #E94C6F;
}
.profile-page .image-container {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
}
#MainMenu {
    height: auto;
    border-radius: 15px;
    background: linear-gradient(0deg, #D62121, #C72C2C, #3a1111);
    box-shadow: 0px 0px gray, 0px 0px 20px gray;
}
div image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.buttons .play-btn {
    text-align: center;
    align-content: center;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    background-repeat: no-repeat;
    height: auto;
    max-height: 100px;
}
.microphone {
    margin-left: auto;
    margin-right: auto;
    width: 22em;
    height: 17em
}
.btn-record {
    text-align: center;
    align-content: center;
    background-color: black;
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

#timer{
    font-family: 'impact';
    color: aliceblue;
    font-size: 24px;
    margin: auto;
}
#date {
    font-family: fantasy;
    color: aliceblue;
    font-size: 20px;
    margin: auto;
}
.icn-record {
    text-align: center;
    align-content: center;
    position: relative;
    width: 50px;
    height: 50px;
}

.icon-play {
    height: 80px;
    width: 80px;
}
.flex-container {
    display: flex;
    height: 100px;
    margin: 15px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center
}

.flex-item {
    width: 100px;
}
div {
    display: block;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.tsound {
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(-68deg, #ac32e4, #4801ff);
    margin-bottom: 10px;
}
table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
table th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: aliceblue;
    vertical-align:central;
    align-content:center;
}
table tr {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #fff;
    line-height: 1.4;

}

table th {
    padding-top: 24px;
    padding-bottom: 10px;
}
#links {
    font-family: Impact;
    font-size: 16px;
    color: aliceblue;
    line-height: 1.4;
}
